:root {
  --accent: #b11ca9;
  --bg-dark: #0d0d0d;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("bg.jpeg") center/cover no-repeat;
  opacity: 0.15;
  z-index: -1;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle at 30% 30%, rgba(255,122,41,0.08), transparent 60%);
  padding-top: 60px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero h3 {
  color: #bbb;
  margin-bottom: 1.5rem;
}

.hero p {
  color: #ddd;
  margin-bottom: 0.3rem
}


.btn-outline {
  border: 1px solid var(--accent);
  color: var(--accent);
  background: transparent;
  transition: 0.3s;
  margin-right: 10px;
}

.btn-outline:hover {
  background: var(--accent);
  color: #000;
}

.btn-fill {
  background: var(--accent);
  color: #000;
  border: none;
  transition: 0.3s;
}

.btn-fill:hover {
  background: #b11ca9;
}

.profile-pic {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.profile-pic::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(177,28,169,0.4) 10%, transparent 70%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: blur(20px);
}

.profile-pic img {
  width: 190px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 25px rgba(177,28,169,0.4);
}

.skills-section {
  background: rgba(255, 255, 255, 0.03);
  padding: 80px 20px;
  text-align: center;
}

.skills-section h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.skills-section h2 span {
  color: var(--accent);
}

.skill {
  margin-bottom: 25px;
  text-align: left;
  max-width: 600px;
  margin-inline: auto;
}

.skill span {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.skill-bar {
  background: rgba(255, 255, 255, 0.1);
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  background: var(--accent);
  height: 10px;
  border-radius: 10px;
}

.bottom-nav {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  padding: 12px 0;
  z-index: 10;
  border: 1px solid rgba(255,255,255,0.1);
}

.bottom-nav i {
  color: var(--accent);
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
}

.bottom-nav i:hover {
  color: #fff;
  transform: scale(1.2);
}
